### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [7]:
#total number of students
num_of_students = school_data["size"].sum()

print("Num of students: " + str(num_of_students))

#total budget
total_budget = school_data["budget"].sum()

print("Budget total: " + str(total_budget))

#reading math score
avg_reading = student_data["reading_score"].sum()/num_of_students 

print("Avg Reading School: " + str(avg_reading))

#Average math score
avg_math = student_data["math_score"].sum()/num_of_students 

print("Avg Math School: " + str(avg_math))

#% of Students who passed math 
passing_math = student_data.loc[student_data["math_score"] >= 70]["math_score"].count()

print("Math passing Rate: " + str(passing_math/num_of_students * 100))

#% of Students who passed reading 
passing_reading = student_data.loc[student_data["reading_score"] >= 70]["reading_score"].count()

print("Reading passing Rate: " + str(passing_reading/num_of_students * 100))

#Overall passing Rate

print("Overall passing Rate: " + str(((passing_reading + passing_math)/2) / num_of_students * 100))
#((pasing_reading/num_of_students * 100) + (pasing_math/num_of_students * 100)) / 2

Num of students: 39170
Budget total: 24649428
Avg Reading School: 81.87784018381414
Avg Math School: 78.98537145774827
Math passing Rate: 74.9808526933878
Reading passing Rate: 85.80546336482001
Overall passing Rate: 80.3931580291039

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [10]:
school_sum = school_data[["school_name","type","size", "budget"]]
#print(school_sum)

#getting the per student budget
#initalized 
school_sum["Per Student Budget"] = school_sum["budget"] / school_sum["size"]

#print(school_sum)

#avg reading scores
temp_reading_scores = student_data.groupby(['school_name'])["reading_score"].mean().reset_index()
#print(temp_reading_scores)
pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_sum = pd.merge(school_sum,temp_reading_scores, how="left",on=["school_name", "school_name"])
school_sum.rename(columns={"reading_score":"avg reading score"}, inplace=True)

#print(school_sum)

#TODO: avg math scores

passing_math = student_data.groupby(['school_name'])["math_score"].mean().reset_index()
#print(passing_math)
pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_sum = pd.merge(school_sum,passing_math, how="left",on=["school_name", "school_name"])
school_sum.rename(columns={"math_score":"avg math score"}, inplace=True)
#print(school_sum)




#% of passing math scores
sum_passing_math = student_data[student_data["math_score"] >=70]

count_passing_math = sum_passing_math.groupby(["school_name"])["math_score"].count().reset_index()

school_sum = pd.merge(school_sum,count_passing_math, how="left",on=["school_name", "school_name"])

school_sum["math_score"] = school_sum["math_score"]/school_sum["size"]
school_sum.rename(columns={"math_score":"% Math Passing"}, inplace=True)
#print(school_sum)

#TODO: % of passing reading scores

sum_passing_reading = student_data[student_data["reading_score"] >=70]

count_passing_reading = sum_passing_reading.groupby(["school_name"])["reading_score"].count().reset_index()

school_sum = pd.merge(school_sum,count_passing_reading, how="left",on=["school_name", "school_name"])

school_sum["reading_score"] = school_sum["reading_score"]/school_sum["size"]
school_sum.rename(columns={"reading_score":"% Reading Passing"}, inplace=True)
#print(school_sum)






#Overall passing Rate
school_sum["Overall Passing Rate"] = (school_sum["% Math Passing"] + school_sum["% Reading Passing"])/2
print(school_sum)

              school_name      type  size   budget  Per Student Budget  \
0       Huang High School  District  2917  1910635               655.0
1    Figueroa High School  District  2949  1884411               639.0
2     Shelton High School   Charter  1761  1056600               600.0
3   Hernandez High School  District  4635  3022020               652.0
4     Griffin High School   Charter  1468   917500               625.0
5      Wilson High School   Charter  2283  1319574               578.0
6     Cabrera High School   Charter  1858  1081356               582.0
7      Bailey High School  District  4976  3124928               628.0
8      Holden High School   Charter   427   248087               581.0
9        Pena High School   Charter   962   585858               609.0
10     Wright High School   Charter  1800  1049400               583.0
11  Rodriguez High School  District  3999  2547363               637.0
12    Johnson High School  District  4761  3094650               650.0
13       Ford High School  District  2739  1763916               644.0
14     Thomas High School   Charter  1635  1043130               638.0

    avg reading score  avg math score  % Math Passing  % Reading Passing  \
0           81.182722       76.629414        0.656839           0.813164
1           81.158020       76.711767        0.659885           0.807392
2           83.725724       83.359455        0.938671           0.958546
3           80.934412       77.289752        0.667530           0.808630
4           83.816757       83.351499        0.933924           0.971390
5           83.989488       83.274201        0.938677           0.965396
6           83.975780       83.061895        0.941335           0.970398
7           81.033963       77.048432        0.666801           0.819333
8           83.814988       83.803279        0.925059           0.962529
9           84.044699       83.839917        0.945946           0.959459
10          83.955000       83.682222        0.933333           0.966111
11          80.744686       76.842711        0.663666           0.802201
12          80.966394       77.072464        0.660576           0.812224
13          80.746258       77.102592        0.683096           0.792990
14          83.848930       83.418349        0.932722           0.973089

    Overall Passing Rate
0               0.735002
1               0.733639
2               0.948609
3               0.738080
4               0.952657
5               0.952037
6               0.955867
7               0.743067
8               0.943794
9               0.952703
10              0.949722
11              0.732933
12              0.736400
13              0.738043
14              0.952905

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [11]:
Top_schools = school_sum.sort_values(by=["Overall Passing Rate"],ascending = False).head(5)

print(Top_schools)

            school_name     type  size   budget  Per Student Budget  \
6   Cabrera High School  Charter  1858  1081356               582.0
14   Thomas High School  Charter  1635  1043130               638.0
9      Pena High School  Charter   962   585858               609.0
4   Griffin High School  Charter  1468   917500               625.0
5    Wilson High School  Charter  2283  1319574               578.0

    avg reading score  avg math score  % Math Passing  % Reading Passing  \
6           83.975780       83.061895        0.941335           0.970398
14          83.848930       83.418349        0.932722           0.973089
9           84.044699       83.839917        0.945946           0.959459
4           83.816757       83.351499        0.933924           0.971390
5           83.989488       83.274201        0.938677           0.965396

    Overall Passing Rate
6               0.955867
14              0.952905
9               0.952703
4               0.952657
5               0.952037

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [12]:
Bottom_schools = school_sum.sort_values(by=["Overall Passing Rate"],ascending = True).head(5)

print(Bottom_schools)

              school_name      type  size   budget  Per Student Budget  \
11  Rodriguez High School  District  3999  2547363               637.0
1    Figueroa High School  District  2949  1884411               639.0
0       Huang High School  District  2917  1910635               655.0
12    Johnson High School  District  4761  3094650               650.0
13       Ford High School  District  2739  1763916               644.0

    avg reading score  avg math score  % Math Passing  % Reading Passing  \
11          80.744686       76.842711        0.663666           0.802201
1           81.158020       76.711767        0.659885           0.807392
0           81.182722       76.629414        0.656839           0.813164
12          80.966394       77.072464        0.660576           0.812224
13          80.746258       77.102592        0.683096           0.792990

    Overall Passing Rate
11              0.732933
1               0.733639
0               0.735002
12              0.736400
13              0.738043

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [13]:
math_scores_grade = pd.pivot_table(student_data, values=["math_score"], index=["school_name"], columns=['grade'])

print(math_scores_grade)

                      math_score
grade                       10th       11th       12th        9th
school_name
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [14]:
reading_scores_grade = pd.pivot_table(student_data, values=["reading_score"], index=["school_name"], columns=['grade'])

print(reading_scores_grade)

                      reading_score
grade                          10th       11th       12th        9th
school_name
Bailey High School        80.907183  80.945643  80.912451  81.303155
Cabrera High School       84.253219  83.788382  84.287958  83.676136
Figueroa High School      81.408912  80.640339  81.384863  81.198598
Ford High School          81.262712  80.403642  80.662338  80.632653
Griffin High School       83.706897  84.288089  84.013699  83.369193
Hernandez High School     80.660147  81.396140  80.857143  80.866860
Holden High School        83.324561  83.815534  84.698795  83.677165
Huang High School         81.512386  81.417476  80.305983  81.290284
Johnson High School       80.773431  80.616027  81.227564  81.260714
Pena High School          83.612000  84.335938  84.591160  83.807273
Rodriguez High School     80.629808  80.864811  80.376426  80.993127
Shelton High School       83.441964  84.373786  82.781671  84.122642
Thomas High School        84.254157  83.585542  83.831361  83.728850
Wilson High School        84.021452  83.764608  84.317673  83.939778
Wright High School        83.812757  84.156322  84.073171  83.833333

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [15]:
print(school_sum['Per Student Budget'].unique())

spending_bins = ["0-588", "588-608","608-628", "629+"]
int_bins = [0,588,608,628,656]

bin_df = pd.DataFrame(pd.cut(school_sum["Per Student Budget"], int_bins,labels=spending_bins ))

school_sum["Range Spending"] = bin_df

# print(school_sum)

bin_spending_sum = school_sum.groupby(["Range Spending"])[['avg math score','avg reading score',"% Math Passing","% Reading Passing","Overall Passing Rate" ]].mean()

print(bin_spending_sum)


print(bin_spending_sum)

[655. 639. 600. 652. 625. 578. 582. 628. 581. 609. 583. 637. 650. 644.
 638.]
                avg math score  avg reading score  % Math Passing  \
Range Spending
0-588                83.455399          83.933814        0.934601
588-608              83.359455          83.725724        0.938671
608-628              81.413283          82.965140        0.848890
629+                 77.866721          81.368774        0.703473

                % Reading Passing  Overall Passing Rate
Range Spending
0-588                    0.966109              0.950355
588-608                  0.958546              0.948609
608-628                  0.916727              0.882809
629+                     0.829956              0.766714
                avg math score  avg reading score  % Math Passing  \
Range Spending
0-588                83.455399          83.933814        0.934601
588-608              83.359455          83.725724        0.938671
608-628              81.413283          82.965140        0.848890
629+                 77.866721          81.368774        0.703473

                % Reading Passing  Overall Passing Rate
Range Spending
0-588                    0.966109              0.950355
588-608                  0.958546              0.948609
608-628                  0.916727              0.882809
629+                     0.829956              0.766714

## Scores by School Size

* Perform the same operations as above, based on school size.

In [22]:
print(school_sum['size'].unique())

spending_bins = ["Small(0-1500)", "Medium(1501-3000)", "Large(3000+)"]
int_bins = [0,1500,3000,5000]

bin_df = pd.DataFrame(pd.cut(school_sum["size"], int_bins,labels=spending_bins ))

school_sum["Range Size"] = bin_df

# print(school_sum)

bin_spending_sum = school_sum.groupby(["Range Size"])[['avg math score','avg reading score' ,"% Math Passing","% Reading Passing","Overall Passing Rate"] ].mean()

print(bin_spending_sum)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

In [16]:
# print(school_sum['type'].unique())
type_sum = school_sum.groupby(["type"])[['avg math score','avg reading score',"% Math Passing","% Reading Passing","Overall Passing Rate" ]].mean()

print(type_sum)

          avg math score  avg reading score  % Math Passing  \
type
Charter        83.473852          83.896421        0.936208
District       76.956733          80.966636        0.665485

          % Reading Passing  Overall Passing Rate
type
Charter            0.965865              0.951037
District           0.807991              0.736738